yt-dlp
langchain-mistralai
torch

faster-whisper
langchain
langchain-core
langchain-community

langchain-openai

langchain-huggingface
sentence-transformers

faiss-cpu

streamlit

python-dotenv
ffmpeg-python
